a.carousel-control-prev {
    display: none;
}
a.carousel-control-next {
    display: none;
}
.carousel-indicators {
    display: none;
}
button.active {
    display: none;
}
#carosel{
    height: 90vh;
} 
@media only screen and (max-width: 776px){
    #carosel{
        height: 60vh;
    } 
}
